{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h2 class="text-center">DETAIL</h2>
  <h3>{{ review.pk }} 번째 글</h3>
  <hr>
  <p>제목: {{ review.title }}</p>
  <p>영화 제목: {{ review.movie_title }}</p>
  <p>내용: {{ review.content }}</p>
  <p>평점: {{ review.rank }}</p>
  <p>작성 시각: {{ review.created_at }}</p>
  <p>수정 시각: {{ review.updated_at }}</p>
  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
  <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}

  {% comment %} 댓글이 보여지는 장소 {% endcomment %}
  {% for comment in comments %}
    <div>
      <ul>
        <li>
          {{ comment.user }} - {{ comment.content }}
        </li>
        <ul>
          {% for cocomment in comment.cocomment_set.all %}
          <li>
            <div>{{ cocomment.user }} - {{ cocomment.content }}</div>
          </li>
          {% endfor %}
          <li>
            {% comment %} 대댓글 {% endcomment %}
            <form action="{% url 'community:create_cocomment' review.pk comment.pk %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form cocomment_form %}
              <input type="submit">
            </form>
          </li>
        </ul>
      </ul>
      
    </div>
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}


  <hr>
  {% comment %} 댓글 Form {% endcomment %}
  {% if user.is_authenticated %}
  <ul>
    <li>
      <form action="{% url 'community:create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit">
      </form>
    </li>
  </ul>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[back]</a>
{% endblock  %}
