{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  {% comment %} <form method="get" action="movies:recommended">
    <p>Favorite Genre</p>
    <label><input type="radio" name="genre" checked="checked" value="모험"> 모험</label>
    <label><input type="radio" name="genre" value="판타지"> 판타지</label>
    <label><input type="radio" name="genre" value="애니메이션"> 애니메이션</label>
    <label><input type="radio" name="genre" value="드라마"> 드라마</label>
    <label><input type="radio" name="genre" value="공포"> 공포</label>
    <label><input type="radio" name="genre" value="액션"> 액션</label>
    <label><input type="radio" name="genre" value="서부"> 서부</label>
    <label><input type="radio" name="genre" value="스릴러"> 스릴러</label>
    <label><input type="radio" name="genre" value="범죄"> 범죄</label>
    <label><input type="radio" name="genre" value="다큐멘터리"> 다큐멘터리</label>
    <label><input type="radio" name="genre" value="SF"> SF</label>
    <label><input type="radio" name="genre" value="미스터리"> 미스터리</label>
    <label><input type="radio" name="genre" value="음악"> 음악</label>
    <label><input type="radio" name="genre" value="로맨스"> 로맨스</label>
    <label><input type="radio" name="genre" value="가족"> 가족</label>
    <label><input type="radio" name="genre" value="전쟁"> 전쟁</label>
    <label><input type="radio" name="genre" value="TV 영화"> TV 영화</label>
    <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>
  </form> {% endcomment %}
  <a href="{% url 'movies:recommended' %}">Recommended Movies</a>
  <hr>
  {% for movie in movies %}
    <h2>{{ movie.pk }}번 영화. {{ movie.title }}</h2>
    <p>평점 : {{ movie.vote_average }}</p>
    <p>{{ movie.overview }}</p>
    <a href="{% url 'movies:detail' movie.pk %}">DETAIL</a>
    <hr>
  {% endfor %}
{% endblock %}
